<!-- Services Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
            </div>
        </div>
        <div class="row container intro">
            <p>
            This event takes inspiration from Ada Lovelace's legacy and celebrates its impact today with a series of talks that aim at bringing to the foreground the work of many scientists, artists and developers; all of them brilliant woman who take programming and hardware further in novel & unexplored direction, from human-computer interactive technologies, new media art, societal impacts of technology accessibility technologies, creativity support tools, multimedia games, and many other perspectives! 

            With this event we celebrate the legacy of Ada Lovelace, a mathematician and writer who recognized in the 1800s already the full potential of computers, but also wish to bring an to the foreground the unmistakable contribution and impact of women in technology, which often historically been pushed to the background.</p>

        </div>
    </div>
</section>