<!-- Clients Aside -->
<aside id="organizers" class="clients" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Organizers</h2>
            </div>
        </div>
        <p class="intro">This event is hosted by Human Computer Integration Lab at University of Chicago. We work on understanding and engineering how future input and output devices will overlap deeply with our bodies.</p>
        <div class="row">

            <div class="col-md-2 col-sm-6">
                <a href="https://www.linkedin.com/in/xjasminelu/" class="portfolio-link" target="_blank" data-toggle="modal">
                    <img src="../css/2017_style/img/logos/jasminelu.png" class="img-responsive img-centered" alt="">
                </a>
                 <p class="name">Jasmine Lu</p>
            </div>
            <div class="col-md-2 col-sm-6">
                <a href="https://yujietao.me" class="portfolio-link" target="_blank" data-toggle="modal">
                    <img src="../css/2017_style/img/logos/yujietao2.jpg" class="img-responsive img-centered" alt="">
                </a>
                <p class="name">Yujie Tao</p>
            </div>
            <div class="col-md-2 col-sm-6">
                <a href="http://jasbrooks.net" class="portfolio-link" target="_blank" data-toggle="modal">
                    <img src="../css/2017_style/img/logos/jasbrooks.jpg" class="img-responsive img-centered" alt="">
                </a>
                <p class="name">Jas Brooks</p>
            </div>
            <div class="col-md-2 col-sm-6">
                <a href="http://www.dariashifrina.me" class="portfolio-link" target="_blank" data-toggle="modal">
                    <img src="../css/2017_style/img/logos/dashashifrina.png" class="img-responsive img-centered" alt="">
                </a>
                <p class="name">Dasha Shifrina</p>
            </div>
            <div class="col-md-2 col-sm-6">
                <a href="https://www.linkedin.com/in/zoeliunc/" class="portfolio-link" target="_blank" data-toggle="modal">
                    <img src="../css/2017_style/img/logos/zoeliu.jpg" class="img-responsive img-centered" alt="">
                </a>
                <p class="name">Zoe Liu</p>
            </div>
            <div class="col-md-2 col-sm-6">
                <a href="http://plopes.org" class="portfolio-link" target="_blank" data-toggle="modal">
                    <img src="../css/2017_style/img/logos/pedrolopes.jpg" class="img-responsive img-centered" alt="">
                </a>
                <p class="name">Pedro Lopes</p>
            </div>
        </div>
    </div>

</aside>
