<!DOCTYPE html>
<html>
{% include 2016_data/head.html %}

<body id="page-top" class="index">
    {% include 2017_data/header-home.html %}
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Ada Lovelace Week<br></div>
                <div class="intro-lead-in">Oct.13, 2020</div>
                <div class="intro-lead-in">Virtual</div>
                <a href="#intro" class="page-scroll btn btn-xl">Register</a>
            </div>
        </div>
    </header>
    {% include 2017_data/about.html %}
    {% include 2017_data/speakers.html %}
    {% include 2017_data/agenda.html %}
    {% include 2017_data/organizers.html %}
    <!-- {% include 2016_data/contact.html %} -->
    {% include 2016_data/footer.html %}
    {% include 2017_data/speakers_info.html %}
    {% include 2016_data/js.html %}
</body>

</html>