<!DOCTYPE html>
<html>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
{% include 2016_data/head.html %}

<body id="page-top" class="index">
    {% include 2017_data/header-home.html %}
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Ada Lovelace Week<br></div>
                <div class="intro-lead-host">Hosted by University of Chicago Human Computer Integration Lab</div>
                <div class="intro-lead-in">Oct.13-16, 2020</div>
                <a href="https://www.eventbrite.com/e/ada-lovelace-week-2020-tickets-122484900635" class="page-scroll btn btn-xl" target="_blank">Register Now</a>
            </div>
        </div>
    </header>
    {% include 2017_data/about.html %}
    {% include 2017_data/speakers.html %}
    {% include 2017_data/agenda.html %}
    {% include 2017_data/organizers.html %}
    {% include 2017_data/sponsors.html %}
    {% include 2016_data/footer.html %}
    {% include 2016_data/speakers_info.html %}
    {% include 2016_data/js.html %}

</body>

</html>